# SPDX-FileCopyrightText: Copyright 2020-2024, Contributors to Tyrannosaurus
# SPDX-PackageHomePage: https://github.com/dmyersturnbull/tyrannosaurus
# SPDX-License-Identifier: Apache-2.0

# Check out https://pre-commit.com/ for documentation
# :tyranno: minimum_pre_commit_version: v${tool.ruff.envs.default~extract_semver(@, "pre-commit")|semver_min(@)}
minimum_pre_commit_version: 3.8.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args:
          - '--remove'
      - id: trailing-whitespace

  # --- Strip output from .ipynb files ---
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout

  # --- Linters ---
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # :tyranno: rev: v${tool.ruff.envs.default~extract_semver(@, "ruff")|semver_min(@)}
    rev: v0.6.3
    hooks:
      - id: ruff
        args:
          -  '--fix-only'
        types_or:
          - python
          - pypirc
          - jupyter
          - markdown
      - id: ruff-format
